# Compiled output
/dist
/node_modules
*.tsbuildinfo

# Environment variables (CRÍTICO: evita subir secretos a GitHub)
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Unit and E2E Testing (NestJS + Jest)
/coverage
/.nyc_output

# IDEs & Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db